.card {
  background-color: darkgray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.card img {
  width: auto;
  height: auto;
}

.container {
  justify-content: center;
  text-align: center;
}

.banner {
  background-color: cadetblue;
}
